
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    @Html.Action("BookASeatHeaderPartial", "BookASeat")

    @Html.Action("BookASeatPartial", "BookASeat")

</body>
</html>