
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    @Html.Action("ServiceHeaderPartial", "Service")

    @Html.Action("ServicePartial", "Service")

</body>
</html>