
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    @Html.Action("TestimonialHeaderPartial", "Testimonial")

    @Html.Action("TestimonialPartial", "Testimonial")

</body>
</html>