
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    @Html.Action("AboutHeaderPartial", "About")

    @Html.Action("PartialAbout", "About")

</body>
</html>