
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    @Html.Action("ClassRoomHeaderPartial", "ClassRoom")

    @Html.Action("ClassRoomPartial", "ClassRoom")

</body>
</html>