﻿@model List<KidKinder.Entities.BookASeat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5>Rezervasyon Listesi</h5>
        <span>Rezervasyon ile ilgili ekleme, silme, güncelle gibi işlemleri aşağıdan gerçekleştirebilirsiniz.</span>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Mail</th>
                        <th>Sınıf</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BookASeatId</td>
                            <td>@item.Name</td>
                            <td>@item.Mail</td>
                            <td>@item.ClassRoom.Title</td>
                            <td><a href="/AdminBookASeat/UpdateBookASeat/@item.BookASeatId" class="btn btn-outline-success">Güncelle</a></td>
                            <td><a href="/AdminBookASeat/DeleteBookASeat/@item.BookASeatId" class="btn btn-outline-danger">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/AdminBookASeat/CreateBookASeat/" class="btn btn-outline-primary col-12">Yeni Rezervasyon Girişi</a>
        </div>
    </div>
</div>