
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    @Html.Action("TeacherHeaderPartial", "Teachers")

    @Html.Action("TeacherPartial", "Teachers")

</body>
</html>